[Unit]
Description=Monitoreo de conexiones al servidor VPN
After=network.target openvpn.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /usr/bin/monitoreo_vpn.py

[Install]
WantedBy=multi-user.target